<script type="text/javascript">
	$(document).ready(function () {

		$("#close").click(function () {
			$("#div2").removeClass("abcd");
			$("#div1").removeClass("animationhide");
			$("#div2").addClass("Menu");
		})

		$("#menuopen").click(function () {
			$("#div1").addClass("animationhide");
			$("#div2").addClass("abcd");
		});
		// $("#signout").click(function($scope,$window){

		// 	 localStorage.removeItem("laundryUser");
		//      $location.path("/login");
		// });

	});
</script>

<div ng-controller="DashboardCtrl" class="dashboard">
	<main>
		<div class="container">
			<div class="row" ng-repeat="task in tasks_list" ng-if="tasks_list.length > 0">
				<div class="col s12">
					<a class="hidden_a" href="#/task-details/{{task.id}}">
						<div class="row z-depth-4 module-item" ng-switch="task.type">
							<div ng-switch-when="1">
								<div class="col s3">
									<div class="row">
										<div class="col s12">
											<img width="100%" src="images\{{task.order.pickup_time_from}}.png" />
										</div>
										<div class="col s12 center-align">
											<span class="font-sm font-bold">{{task.order.pickup_time_from}} </span>
											<span class="font-sm">TO</span>
											<span class="font-sm font-bold">{{task.order.pickup_time_to}}</span>
										</div>
									</div>
								</div>
								<div class="col s9 p0">
									<div class="row">
										<div class="col s9">
											<h6 class="mb5"><i class="material-icons font-bold valign-top">arrow_upward</i> PICKUP</h6>
											<div class="box dotted-border border-2x p5">
												<p class="m0">{{task.address.floor}} {{task.address.street_name}}</p>
												<p class="m0">{{task.address.unit_number}} {{task.address.city_id}}</p>
											</div>
										</div>
										<div class="col s3 right-align">
											<div class="font-bold">{{task.order.drop_time_from}}</div>
											<div class="font-bold">{{task.order.drop_time_to}}</div>
										</div>
									</div>
								</div>
							</div>
							<div ng-switch-when="2">
								<div class="col s3">
									<div class="row">
										<div class="col s12">
											<img width="100%" src="images\{{task.order.drop_time_from}}.png" />
										</div>
										<div class="col s12 center-align">
											<span class="font-sm font-bold">{{task.order.drop_time_from}} </span>
											<span class="font-sm">TO</span>
											<span class="font-sm font-bold">{{task.order.drop_time_to}}</span>
										</div>
									</div>
								</div>
								<div class="col s9 p0">
									<div class="row">
										<div class="col s9">
											<h6 class="mb5"><i class="material-icons font-bold valign-top">arrow_downward</i> DROP</h6>
											<div class="box dotted-border border-2x p5">
												<p class="m0">{{task.address.floor}} {{task.address.street_name}}</p>
												<p class="m0">{{task.address.unit_number}} {{task.address.city_id}}</p>
											</div>
										</div>
										<div class="col s3 right-align">
											<div class="font-bold">{{task.order.drop_time_from}}</div>
											<div class="font-bold">{{task.order.drop_time_to}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row" ng-if="!tasks_list || tasks_list.length == 0">
				<div class="col s12 center">
					<strong>No Tasks Found.</strong>
				</div>
			</div>
		</div>
		<div class="dashboard-footer">
			<div class="row center">
				<div class="col col2" ng-class="{'active': filterIndex == $index}" ng-repeat="filter in filters" ng-click="FilterTaskList($index)">
					<div class="font-bold">{{filter}}</div>
				</div>
				<div class="col col2" ng-class="{'active': filterIndex == -1}" ng-click="FilterTaskList(-1)">
					<div class="font-bold">ALL</div>
				</div>
			</div>
		</div>
	</main>
</div>