
<script type="text/javascript">	
	    $(document).ready(function() {
			$('#close').click(function(){			
				$("#div2").removeClass("abcd");	
				$("#div1").removeClass("animationhide");
				$("#div2").addClass("Menu");
			})

			$('#menuopen').click(function () {				
				$("#div1").addClass("animationhide");
				$("#div2").addClass("abcd");
			});
			// $("#signout").click(function($scope,$window){
				
			// 	 localStorage.removeItem('laundryUser');
            //      $location.path('/login');
			// });

	    });
</script>

<div ng-controller="DashboardCtrl" class="dashboard">
	<main>
		<div class="container" style='margin-top: 10px'>	
		<div class="row ng-scope" ng-repeat="task in dashboard_data">
			<div class="col s12">
				<a class='hidden_a' href='#/task-details/{{task.id}}'>
				<div class="mybutton2 row z-depth-4" ng-class="value.price > 0 ? '' : '' ">
					<div class="col s12 my_button_column" style='padding-right:0px' >
						<div class="row">
							<div class="col s12 my_button_title" >
								<div class="row">
									<div class="col s12">
										{{task.full_name}} (<em>{{task.email}}</em>)<br/>
										{{task.phone}}<br/><br/>
										<small><b>Address:</b> Floor: {{task.floor}}, {{task.street_name}}, {{task.city}}, PoBox: {{task.pobox}}</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s6">									
								<small>
									Pickup Date: {{task.pickup_date}}<br/>
									Drop Date: {{task.drop_date}}
								</small>
							</div>
							<div class="col s6">						
								<small>
									Pickup Price: {{task.pickup_price}}<br/>
									Drop Price: {{task.drop_price}}
								</small>
							</div>
							</div>
						</div>
						<!-- <div class="col s3 valign-wrapper my_button_column"  style='padding-right:0px'>
							<span class="iconsstyle"> 
								<span  class="my_close_button"><i class="tiny material-icons my_close_button_icon"> attach_money </i> {{value.price}}</span>
							</span>
							
										<input type="radio" id='{{value}}' value="{{value}}" class="checky" name="pickUpRadio">
										<span class="checkmark unikk" ></span>
										<!-- ng-click="savelocallyTime(value)" --3>
							
						</div>  -->
					</div></a>
				</div>
			</div>
			</div>
		</main>
	</div>
