
<script type="text/javascript">	
	    $(document).ready(function() { 

			$('#close').click(function(){			
				$("#div2").removeClass("abcd");	
				$("#div1").removeClass("animationhide");
				$("#div2").addClass("Menu");
			})

			$('#menuopen').click(function () {				
				$("#div1").addClass("animationhide");
				$("#div2").addClass("abcd");
			});
			// $("#signout").click(function($scope,$window){
				
			// 	 localStorage.removeItem('laundryUser');
            //      $location.path('/login');
			// });

	    });
</script>






	<div ng-controller="DashboardCtrl" class="dashboard">
		<main>
			<div class="container" style='margin-top: 10px'>	
			<div 
				class="row ng-scope" 
				ng-repeat="order in order_list" 
				>
				<div class="col s12">
				<a class='hidden_a' href='#/order-details/{{order.id}}'>
					<div class="mybutton2 row z-depth-4" ng-class="value.price > 0 ? '' : '' ">
						<div class="col s3 my_button_column" style='padding-right:0px'  >
							<div class="row">
								<div class="col s12 my_button_title" ><img width="100%" src="images\{{order.time_from}}.png"></div>
							</div>
						</div>
						<div class="col s9 my_button_column" style='padding-right:0px' >
							<div class="row">
								<div class="col s12 my_button_title" >
									<div class="row">
										<div class="col s8">{{order.customer.full_name}}<br><b>{{order.customer.phone}}</b></div>
										<div class="col s4 right-align" ><b>1124</b><br>24</div>
										
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s12" >
									<!-- we do not have one hour slot option now -->
									<!-- <span ng-if="value.type == 1">FLEXIBLE </span>
									<span ng-if="value.type == 2"> ONE HOUR SLOT </span> -->
									
									{{order.address.street_name}}  - 
									{{order.address.floor}} -
									{{order.address.unit_number}}  -
									{{order.address.city_id}} 
								</div>
							</div>
						</div>
						<!-- <div class="col s3 valign-wrapper my_button_column"  style='padding-right:0px'>
							<span class="iconsstyle"> 
								<span  class="my_close_button"><i class="tiny material-icons my_close_button_icon"> attach_money </i> {{value.price}}</span>
							</span>
							
										<input type="radio" id='{{value}}' value="{{value}}" class="checky" name="pickUpRadio">
										<span class="checkmark unikk" ></span>
										<!-- ng-click="savelocallyTime(value)" --3>
							
						</div>  -->
					</div></a>
				</div>
			</div>
			</div>
		</main>
	</div>
