<div ng-controller="DashboardCtrl" class="dashboard">
	<main>
		<div class="header-section">
			<div class="row m0 center">
				<div class="col s2">
					<a href="javascript:void(0)" ng-click="showPreviousDayTask()" class="nav-icon"><i class="material-icons">keyboard_arrow_left</i></a>
				</div>
				<div class="col s8 p0">
					<div class="font-bold title"> <span class="d-inline-block v-middle">{{date | TaskHeading}}</span> <a href="javascript:void(0)" class="today" ng-click="goToTaday()" ng-if="(date | date: 'yyyy-MM-dd') != (currentDate | date: 'yyyy-MM-dd')"><i class="material-icons">date_range</i></a></div>
				</div>
				<div class="col s2">
					<a href="javascript:void(0)" ng-click="showNextDayTask()" class="nav-icon"><i class="material-icons">keyboard_arrow_right</i></a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" ng-repeat="task in filtered_tasks_list" ng-if="tasks_list.length > 0">
				<div class="col s12">
					<a class="hidden_a" href="#/task-details/{{task.id}}">
						<div class="row z-depth-4 module-item" ng-switch="task.type">
							<div ng-switch-when="1">
								<div class="col s3">
									<div class="row">
										<div class="col s12">
											<img width="100%" src="images\{{task.order.pickup_time_from}}.png" ng-if="task.order.pickup_at_door == 0" />
											<img width="100%" src="images\no_time.png" ng-if="task.order.pickup_at_door == 1" />
										</div>
									</div>
								</div>
								<div class="col s9 p0">
									<h6 class="task-type">PICKUP <i class="material-icons font-bold valign-top">arrow_upward</i> </h6>
									<h3 class="task-time" ng-if="task.order.pickup_at_door == 0">{{task.order.pickup_time_from < 10?'0':''}}{{task.order.pickup_time_from}}:00 - {{task.order.pickup_time_to < 10?'0':''}}{{task.order.pickup_time_to}}:00</h3>
								</div>
								<div class="col s12 order-address" ng-if="cityData.length > 0">
									<p class="m0"><i class="material-icons font-bold valign-top">home</i> {{task.address.street_name}}, {{task.address.floor}}, {{displayCityName(task.address.city_id)}}</p>
								</div>
							</div>
							<div ng-switch-when="2">
								<div class="col s3">
									<div class="row">
										<div class="col s12">
											<img width="100%" src="images\{{task.order.drop_time_from}}.png" ng-if="task.order.drop_at_door == 0" />
											<img width="100%" src="images\no_time.png" ng-if="task.order.drop_at_door == 1" />
										</div>
									</div>
								</div>
								<div class="col s9 p0">
									<h6 class="task-type">DROP <i class="material-icons font-bold valign-top">arrow_downward</i></h6>
									<h3 class="task-time" ng-if="task.order.drop_at_door == 0">{{task.order.drop_time_from < 10?'0':''}}{{task.order.drop_time_from}}:00 - {{task.order.drop_time_to < 10?'0':''}}{{task.order.drop_time_to}}:00</h3>
								</div>
								<div class="col s12 order-address" ng-if="cityData.length > 0">
									<p class="m0"><i class="material-icons font-bold valign-top">home</i> {{task.address.street_name}}, {{task.address.floor}}, {{displayCityName(task.address.city_id)}}</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row" ng-if="!filtered_tasks_list || filtered_tasks_list.length == 0">
				<div class="col s12 center">
					<strong>No Tasks Found.</strong>
				</div>
			</div>
		</div>
		<div class="dashboard-footer">
			<div class="row center m0">
				<div class="col col2" ng-class="{'active': filterIndex == $index}" ng-repeat="filter in filters" ng-click="FilterTaskList($index)">
					<div class="font-bold">{{filter}}</div>
				</div>
				<div class="col col2" ng-class="{'active': filterIndex == -1}" ng-click="FilterTaskList(-1)">
					<div class="font-bold">ALL</div>
				</div>
			</div>
		</div>
	</main>
</div>